$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  grey: #383838,
  shadow: rgba(0,0,0,0.1%),
);
.gradientapp{
  background-color: transparent;
  background: linear-gradient(#212849,#1c3661,#4cc2f1);
}
@font-face {
  font-family: "gloryunited";
  src: url('../../assets/fonts/Glory_United.otf');
}

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
