page-register {
  .centertext{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .inscription{
    color: #f4f4f4;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: gloryunited;
    letter-spacing: 3px;
  }
  .identifiant{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 45px;
  }
  .identifiantphoto{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 145px;
    color:black;
  }
  .identifiant3{
    height: 45px;
  }
  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .log{
    margin: auto;
    width: 80%;
  }
  .sonetwork{
    margin:auto;
    color: #f4f4f4;
    margin-top:10px;
    width: 100%;
    justify-content: space-around;
    display: flex;
  }
  .photoid{
    margin: auto;
    width: 80%;
    display: flex;
    margin-bottom: 20px;
   }
  .important{
    background-color: #f4f4f4;
    flex:2;
    margin-left: 5px;
    border-radius: 10px;
    border: solid white;
  }
  .contact{
    font-size: 100px;
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
  }
}
