
page-match-in-progress{

  text-align: center;
  font-size: 16px;

  div{
    color: white;
  }
  .tableMatchInProgress{
    margin: 0;
    background-color: #0D2B4D;
  }
  .tableMatchInProgress td{
    padding: 5px;
  }
}
